<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="med7">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import med7 urdf file -->
    <xacro:include filename="/home/wjc/Desktop/med7.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="med7.ros2_control.xacro" />


    <xacro:med7_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
